.imageContainer {
  display: inline-block;
  position: relative;
}

.image {
  transition:  0.3s ease-in-out;
  border-radius: 25px;
}

.imageContainer:hover .image {
  box-shadow: 0 0 25px 15px rgba(248, 74, 248, 0.7); 
  width: 330px;

}
.imageContainer {
  display: inline-block;
  position: relative;
}

/* Floating animation for the image */
.imageContainer img {
  animation: float 4s ease-in-out infinite;
}

/* Keyframes for the floating effect */
@keyframes float {
  0% {
    transform: translateY(0);
    }
  50% {
    transform: translateY(-20px);
    
  }
  100% {
    transform: translateY(0);
  }
}
